In [1]:
# importing libraries and dataset

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.ensemble import RandomForestRegressor

In [5]:
data = pd.read_csv("dataset/DOGE-USD.csv")
data.head()

         Date      Open      High       Low     Close  Adj Close     Volume
0  2017-11-09  0.001207  0.001415  0.001181  0.001415   0.001415  6259550.0
1  2017-11-10  0.001421  0.001431  0.001125  0.001163   0.001163  4246520.0
2  2017-11-11  0.001146  0.001257  0.001141  0.001201   0.001201  2231080.0
3  2017-11-12  0.001189  0.001210  0.001002  0.001038   0.001038  3288960.0
4  2017-11-13  0.001046  0.001212  0.001019  0.001211   0.001211  2481270.0

In [6]:
# checking the correlation
data.corr(numeric_only=True)

               Open      High       Low     Close  Adj Close    Volume
Open       1.000000  0.993904  0.993707  0.992514   0.992514  0.554850
High       0.993904  1.000000  0.986497  0.995104   0.995104  0.619321
Low        0.993707  0.986497  1.000000  0.994575   0.994575  0.519991
Close      0.992514  0.995104  0.994575  1.000000   1.000000  0.588678
Adj Close  0.992514  0.995104  0.994575  1.000000   1.000000  0.588678
Volume     0.554850  0.619321  0.519991  0.588678   0.588678  1.000000

In [7]:
# converting the string date & time in proper date& time
# format with the help of pandas
data["Date"] = pd.to_datetime(data["Date"])
data.set_index("Date", inplace=True)

In [8]:
# checking if there is any null value present
data.isnull().any()

Open         True
High         True
Low          True
Close        True
Adj Close    True
Volume       True
dtype: bool

In [9]:
# now lets check for the presence of null values in
# the dataset
data.isnull().sum()

Open         1
High         1
Low          1
Close        1
Adj Close    1
Volume       1
dtype: int64

In [11]:
# Dropping those missing values so that we 
# do not have any errors while analyzing.
data.dropna(inplace=True)

In [12]:
# checking the statistical analysis of the data
data.describe()

,Open,High,Low,Close,Adj Close,Volume
count,1760.000000,1760.000000,1760.000000,1760.000000,1760.000000,1.760000e+03
mean,0.059575,0.063096,0.056126,0.059619,0.059619,1.016258e+09
std,0.101325,0.109152,0.093695,0.101379,0.101379,3.563999e+09
min,0.001046,0.001210,0.001002,0.001038,0.001038,1.431720e+06
25%,0.002550,0.002616,0.002500,0.002548,0.002548,2.307671e+07
50%,0.003476,0.003603,0.003356,0.003495,0.003495,8.981855e+07
75%,0.070633,0.075035,0.068478,0.070657,0.070657,6.565853e+08
max,0.687801,0.737567,0.608168,0.684777,0.684777,6.941068e+10