In [1]:
import sqlite3

In [3]:
# connect to the sqlite database (or create it if it doesn't exist)
conn = sqlite3.connect("housing.db")
cursor = conn.cursor()

In [4]:
# create the houses table
cursor.execute('''
CREATE TABLE IF NOT EXISTS houses (
               id INTEGER PRIMARY KEY,
               address TEXT,
               city TEXT,
               state TEXT,
               zip_code TEXT,
               price INTEGER,
               bedrooms INTEGER
)
''')

# Commit the changes
conn.commit()

In [5]:
# insert sample data
cursor.executemany('''
INSERT INTO houses (address, city, state, zip_code, price, bedrooms)
                    VALUES (?, ?, ?, ?, ?, ?)
                   ''', [
                       ("123 Main St", "Springfield", "IL", "62704", 250000, 3),
                       ('456 Elm St', 'Springfield', 'IL', '62704', 300000, 4),
                       ('789 Oak St', 'Champaign', 'IL', '61820', 220000, 2),
                       ('101 Pine St', 'Urbana', 'IL', '61801', 280000, 3),
                       ('112 Maple St', 'Bloomington', 'IL', '61701', 350000, 5)
                   ])

# Commit the changes
conn.commit()

In [6]:
# select all records from the houses table
cursor.execute("SELECT * FROM houses")
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, '123 Main St', 'Springfield', 'IL', '62704', 250000, 3)
(2, '456 Elm St', 'Springfield', 'IL', '62704', 300000, 4)
(3, '789 Oak St', 'Champaign', 'IL', '61820', 220000, 2)
(4, '101 Pine St', 'Urbana', 'IL', '61801', 280000, 3)
(5, '112 Maple St', 'Bloomington', 'IL', '61701', 350000, 5)

In [7]:
# select houses with a price greater than 300,000
cursor.execute("SELECT * FROM houses WHERE price > 300000")
rows = cursor.fetchall()
for row in rows:
    print(row)

(5, '112 Maple St', 'Bloomington', 'IL', '61701', 350000, 5)

In [9]:
# update the price of the house at 123 Main St
cursor.execute("UPDATE houses SET price = 260000 WHERE address = '123 Main St'")
conn.commit()

# Verify the update
cursor.execute("SELECT * FROM houses WHERE address = '123 Main St'")
row = cursor.fetchone()
print(row)

(1, '123 Main St', 'Springfield', 'IL', '62704', 260000, 3)

In [12]:
# delete the house at 112 Maple St
cursor.execute("delete from houses where address = '112 Maple St'")
conn.commit()

# verify the deletion
cursor.execute("select * from houses where address = '112 Maple St'")
row = cursor.fetchone()
print(row)

None

In [13]:
# group by city and calculate the average price
cursor.execute("select city, avg(price) as avg_price from houses group by city")
rows = cursor.fetchall()
for row in rows:
    print(row)

('Champaign', 220000.0)
('Springfield', 280000.0)
('Urbana', 280000.0)

In [15]:
# create a second table for house features
cursor.execute('''
create table if not exists features (
               house_id integer,
               feature text,
               foreign key (house_id) references houses (id)
)
''')

# insert sample data into the features table
cursor.executemany()